{{ define "body_class" }} post-template {{ end }}

{{ define "main" }}

{{- partial "header-light.html" $ -}}

<h1>{{ .Name }}</h1>
<p>CurrentSection = {{ .CurrentSection }}</p>
<p>FirstSection = {{ .FirstSection }}</p>
<p>Parent = {{ .Parent }}</p>
<p>Section = {{ .Section }}</p>
<p>Sections = {{ .Sections }}</p>
<p>CurrentSection = {{ .CurrentSection }}</p>
<p>CurrentSection = {{ .CurrentSection }}</p>
<p>CurrentSection = {{ .CurrentSection }}</p>



{{ .Pages }}

{{ range .Pages }}

<article class="post-card">
    <a href="{{ .Permalink }}" class="post-card-feature-image">
    {{ if .Param "feature_image" }}
    <img class="post-card-img" src="{{ .Param "feature_image" }}" alt="{{ .Title }}" />
    {{ end }}
    </a>
    <div class="post-card-content">
        <a href="{{ .Permalink }}">
        <p class="post-card-categories">
            {{ with .Params.categories  }}
                {{ $primaryCat := (index . 0) }}
                    {{ $primaryCat }} /
            {{ end }}
            {{ with .Params.series }}
                {{ $primarySerie := (index . 0) }}
                    {{ $primarySerie }}
            {{ end }}
        </p>

        <h3>{{ .Title }}</h3>

        <p class="post-card-summary">{{ .Summary }}</p>

        <p class="post-card-subdetails"><time datetime="{{ .Date | time.Format ":date_long" }}">{{ .Date | time.Format ":date_long" }}</time>
            - {{ .ReadingTime }} {{ i18n "reading_time" }}</p>
        </a>
    </div>
</article>

{{ end }}

{{ end }}