{{ define "body_class" }} post-template {{ end }}

{{ define "main" }}

{{- partial "header-light.html" $ -}}


<ul>
    <li>eee<a href="{{.FirstSection.Permalink}}">{{ .FirstSection.Title }}</a></li>
    <li>ddd<a href="{{.CurrentSection.Permalink}}">{{ .CurrentSection.Title }}</a></li>
    {{ range .CurrentSection.Pages }}
    <li>ggg<a href="{{ .Permalink}}">{{ .Name }}</a></li>
    {{end }}
</ul>

<main>
    <article>

            <h1>{{ .Title }}</h1>

                <details>
                <summary>Table des matières</summary>
                    <div class="post-page-contents">
                    {{.TableOfContents}}
                    </div>
                </details>

        {{ if .Param "feature_image" }}
        <figure class="post-page">
            <img src="{{ .Param "feature_image" }}" alt="{{ .Title }}" />
            {{ if .Param "feature_image_caption" }}
                <figcaption>{{.Param "feature_image_caption" }}</figcaption>
            {{ end }}
        </figure>
        {{ end }}

        <section>
            <div class="post-content">
            {{ .Content }}
            </div>
        </section>

    </article>
</main>


{{ end }}
