{{ define "body_class" }} home-template {{ end }}

{{ define "main" }}

{{- partial "header.html" . -}}

            <h1>Bienvenue sur Gundam France</h1>
            <main>
              <p>Le 7 avril 1979, la première série de Mobile Suit Gundam faisait son apparition sur les écrans de télévision japonais. La création d'un nouveau genre de le séries de robots géants, ou mechas, donnera naissance à l'une des plus grandes Saga d'animation de SF japonaise, souvent comparée à Star Trek !</p>

              <p>Depuis 2002, Gundam France s'est efforcé à être l'une des sources d'informations francophone les plus complètes sur cette Saga quarantenaire.</p>

              <p>Après plusieurs années à avoir été maintenu par une seule personne et enrichi grâce à diverses autres contributions, ce site est désormais légué à la communauté et ses sources sont disponibles sur <a href="https://github.com/Wivik/gundam-france" target="_blank">GitHub</a>.</p>

              <p>Son hébergement restera actif aussi longtemps qu'il me sera possible de le maintenir ou si quelqu'un souhaite en reprendre la charge.</p>

              <p>Merci à toutes les personnes qui ont contribué à l'existance de ce site qui existe depuis vingt ans.</p>
            </main>
{{ end }}