<footer>
    <p style="text-align:left;"><a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr"><img alt="Creative Commons License" style="border-width:0;float:left;margin-right: 5px;margin-top:5px;" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a> Sauf mention contraire, le contenu de ce site est proposé sous licence Creative Commons BY-SA 4.0. Sources du site disponibles sur <a href="https://github.com/Wivik/gundam-france" target="_blank">GitHub</a>.</p>
    <p style="text-align:left;">Ce site communautaire et indépendant n'est en aucun cas affilié aux sociétés productrices et éditrices de Gundam.<br />
    Mobile Suit Gundam © 1979 Sunrise, Sôtsu Agency, Bandai - Les médias de ce site sont la propriété de leurs auteurs respectifs.</p>
    <p><button onclick="window.location.href='#';">Haut de page</button></p>
</footer>