<header class="header-background"
{{ if .Site.Params.backgroundImage }}
style="background-image: url('/images/background.jpg')"
{{ end }}
>
    <h1>
        {{ if $.Site.Params.logo }}
            <img class="site-logo" src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" />
        {{ else }}
            <a aria-current="page" class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        {{ end }}
    </h1>
    <p>{{ .Site.Params.description }}</p>
    <nav>
        {{ range .Site.Menus.main }}
        <a aria-current="page" href="{{ .URL }}">{{- .Name -}}</a>
        {{ end }}
    </nav>
</header>